<button ng-click="search()">SEARCH</button>
<div class="row text-center">
  <div ng-repeat="video in videos.items | limitTo:numberOfItemsToDisplay">
    <div class="col-md-4">
      <div class="video-panel">
        <div class="video-thumbnail"><img
            ng-src="{{video.snippet.thumbnails.medium.url | trusted}}">
        </div>
        <div class="movie-title video-title">{{video.snippet.title}}</div>
        <div class="movie-title video-title">{{video.snippet.channelTitle}}</div>
        <div class="movie-title video-title">{{video.snippet.publishedAt | datetime}}</div>
      </div>
    </div>
  </div>
</div>