<div ng-if="items.length !== 0" class="text-center">
  <div infinite-scroll="addMoreItem()" infinite-scroll-distance="1">
    <div class="row movie-item">
      <div class="col-md-3 panel panel-wwarning movie-card"
           ng-repeat="video in ytVideos | limitTo:numberOfItemsToDisplay">
        <div class="video-panel">
          <div class="video-thumbnail"><img ng-src="{{item.snippet.thumbnail.high.url}}"></div>
          <div class="video-title"></div>
          <div class="video-uploader"></div>
          </div>
      </div>
    </div>
  </div>
</div>